@*@model Item
    @{var sale = Model.Sale * 100;}
        <div class="card text-white" style="background-color: #2C2F31">
            <h5 class="card-header"><a asp-action="Details" asp-route-id="@Model.Id" class="text-left">@Html.DisplayFor(modelItem => Model.Name)</a></h5>


            <div class="row card-body">
                <div class="col-sm-4">
                    <a asp-action="Details" asp-route-id="@Model.Id"><img class="img-thumbnail" style="background-color: #181A1B;" src="@Html.DisplayFor(modelItem => Model.Img)" /><br></a>
                    <a asp-controller="Items" asp-route-filterBy="@Model.Tag1" class="rounded" style="background: #008aff; color: white; ">&nbsp @Model.Tag1 &nbsp<br></a>
                    <a asp-controller="Items" asp-route-filterBy="@Model.Tag2" class="rounded" style="background: #008aff; color: white; ">&nbsp @Model.Tag2 &nbsp<br></a>
                    <a asp-controller="Items" asp-route-filterBy="@Model.Tag3" class="rounded" style="background: #008aff; color: white; ">&nbsp @Model.Tag3 &nbsp<br></a>
                </div>
                <div class="col-sm-4 ">
                    <p class="text-left ">@Model.Description</p>
                </div>

                <div class="col-sm-4">
                    @if (Model.Sale == 0)
                    {
                        <h4 class="text-center">@Model.Price.ToString("c")</h4>
                    }
                    else
                    {
                        <p class="text-center">
                            <a style="font-size:16px ;color:#4cff00; background-color:#1e6500">&nbsp-@sale%&nbsp</a>&nbsp
                            <s>@Model.Price.ToString("c")</s>
                        </p>
                        <h4 class="text-center">@Model.SalePrice().ToString("c")</h4>

                    }
                    <p class="text-center"><a class=" btn btn-outline-danger" asp-controller="Items" asp-action="DeleteFromWlist" asp-route-Id="@Model">Удалить из желаемого</a></p>
                </div>
            </div>
        </div>*@



@model Item
@using Vapor.Data
@inject IHtmlLocalizer<SharedResource> Localizer
@{
    var shopcart = ViewBag.SCart as List<Item>;
    var wishlist = ViewBag.Wlist as List<Item>;
    var sale = Model.Sale * 100;

    CultureInfo.CurrentCulture = new CultureInfo("en-US"); CultureInfo.CurrentUICulture = new CultureInfo("en-US");


}

@inject StoreContext _context
<div class="card text-white" style="background-color: #2C2F31">
    <h5 class="card-header"><a asp-controller="Items" asp-action="Details" asp-route-id="@Model.Id" class="text-left">@Html.DisplayFor(modelItem => Model.Name)</a></h5>


    <div class="row card-body">
        <div class="col-sm-4 text-center">
            <a asp-controller="Items" asp-action="Details" asp-route-id="@Model.Id"><img class="img-thumbnail" style="background-color: #181A1B;" src="@Html.DisplayFor(modelItem => Model.Img)" /><br></a>

            <a asp-controller="Items" asp-route-filterBy="@Model.Tag1" class="rounded" style="background: #008aff; color: white; "> @Model.Tag1  </a>&nbsp
            <a asp-controller="Items" asp-route-filterBy="@Model.Tag2" class="rounded" style="background: #008aff; color: white; "> @Model.Tag2 </a>&nbsp
            <a asp-controller="Items" asp-route-filterBy="@Model.Tag3" class="rounded" style="background: #008aff; color: white; "> @Model.Tag3 </a>&nbsp
        </div>
        <div class="col-sm-4 ">
            <p class="text-left ">@Model.Description</p>
            @if (Model.ScoreCount > 0)
            {
                @if (Model.AvgScore >= 7)
                {
                    <div class=" text-center rating" style="background-color:#4cff00">
                        @Model.AvgScore.ToString("f")
                    </div>
                }
                else if (Model.AvgScore >= 5)
                {
                    <div class="text-center rating" style="background-color:#ffd800">
                        @Model.AvgScore.ToString("f")
                    </div>
                }
                else
                {
                    <div class="text-center rating" style="background-color:#ff0000">
                        @Model.AvgScore.ToString("f")
                    </div>
                }
            }
        </div>
        <div class="col-sm-4">

            @if (Model.Sale == 0)
            {
                <h4 class="text">@Model.Price.ToString("c")</h4>
            }
            else
            {
                <p>
                    <a style="font-size:16px ;color:#4cff00; background-color:#1e6500">&nbsp-@sale%&nbsp</a>&nbsp
                    <s style="color:gray">@Model.Price.ToString("c")</s>
                </p>
                <h4 class="text">@Model.SalePrice().ToString("c")</h4>

            }

            <div class="">
                @if (shopcart == null || Model.Id != shopcart.FirstOrDefault(m => m.Id == Model.Id)?.Id)
                {
                    <p><a class=" btn btn-outline-danger" asp-controller="Items" asp-action="ToCart" asp-route-Id="@Model">@Localizer["Add to cart"]</a></p>
                }
                else
                {
                    <p><a class=" btn btn-outline-danger" asp-controller="Items" asp-action="ShopCart" asp-route-Id="@Model">@Localizer["Go to cart"]</a></p>
                }
                @*@if (wishlist == null || Model.Id != wishlist.FirstOrDefault(m => m.Id == Model.Id)?.Id)
                    {
                        <p><a class=" btn btn-outline-info" asp-controller="Items" asp-action="ToWlist" asp-route-Id="@Model">Добавить в желаемое</a></p>
                    }
                    else
                    {
                        <p><a class=" btn btn-outline-info" asp-controller="Items" asp-action="Wishlist" asp-route-Id="@Model">Перейти в желаемое</a></p>
                    }*@
            </div>

        </div>
    </div>
</div>