@model Vapor.Models.Item

@{
    ViewData["Title"] = Model.Name;
    Review r = new Review();


    //var reviews = ViewData["Reviews"] as List<Review>;
    //SelectList itemsSelectList = reviews != null ? new SelectList(reviews, "Id", "Name") : null;
}
@{
    var reviews = ViewData["Reviews"] as List<Review>;


}

<a asp-action="Index">Назад</a>



<div class="row mt-5 mb-2">
    <div>
        <div class="col-lg-5 float-left">
            <img class="img-thumbnail" src="@Model.Img" />
        </div>
        <h1 class="text-center">@Model.Name</h1>

        <a asp-controller="Items" asp-action="Filter" asp-route-F="@Model.Tag1" class="rounded" style="background:#2b2ec2; color:#ffffff"> @Model.Tag1 </a>,
        <a asp-controller="Items" asp-action="Filter" asp-route-F="@Model.Tag2" class="rounded" style="background:#2b2ec2; color:#ffffff"> @Model.Tag2 </a>,
        <a asp-controller="Items" asp-action="Filter" asp-route-F="@Model.Tag3" class="rounded" style="background:#2b2ec2; color:#ffffff"> @Model.Tag3 </a>

        @*href="~Items/Filter?F=@Model.Tag2"*@

        <p class="text-left">@Model.Description</p>
        @*<h4>Средняя оценка: @Model.AvgScore</h4>*@
    </div>
</div>

<div class="container">

    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
        <a asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
    </div>

    <div class="row">
        <div class="col-2">
            <h3 class="text-center">@Model.Price.ToString("c")</h3>
        </div>
        <div class="col-2">
            <div>
                <p><a class=" btn btn-outline-danger" asp-controller="ShopCart" asp-action="addToCart" asp-route-id="">Добавить в корзину</a></p>
            </div>
        </div>

    </div>

</div>

<h3>Оставить отзыв :</h3>
<div>
    <form asp-action="AddReview" asp-route-id="@Model.Id">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label class="control-label">Текст</label>
            <input asp-for="@r.Text" class="form-control" />
            <span asp-validation-for="@r.Text" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label class="control-label">Оценка</label>
            <input asp-for="@r.Score" class="form-control" />
            <span asp-validation-for="@r.Score" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </form>
</div>




<h3>Все отзывы на @Model.Name :</h3>
<table class="table">
    <thead>
        <tr>
            <th>
                Текст
            </th>
            <th>
                Оценка
            </th>
            <th>
                Дата
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{ if (reviews != null)
                foreach (var rev in reviews)
                    if (rev.Item == Model)
                    {
                        <tr>
                            <td>
                                @rev.Text
                            </td>
                            <td>
                                @rev.Score/10
                            </td>
                            <td>
                                @rev.Date
                            </td>
                        </tr>
                    }
        }
    </tbody>
</table>
