@model IEnumerable<Vapor.Models.Item>

@{
    ViewData["Title"] = "Index";
}
@{
    var tags = ViewData["Tags"] as List<Tag>;


    SelectList tagsSelectList = tags != null ? new SelectList(tags, "Id", "tag") : null;
}
@{string filtertag = ""; }
<p>
    <a asp-action="Create">Create New</a>
    <div class="container">
        Отфильтровать по тэгу:
        <div class="row">
            <div class="col-sm-3">


                <select class="form-control">
                    @foreach (var t in tags)
                    {
                    <option href="/Items/Filter?F=@t.tag">@t.tag</option>
                    }
                </select>


                <div class="col-sm-3">
                    <a href="Items/Filter?F=@filtertag" class="btn btn-primary">Применить</a>
                </div>
            </div>
        </div>
</p>

<table class="table">
    <tbody>
        @foreach (var item in Model)
        {
            {
                <tr>
                    <td>
                        <div class="container">
                            <h5><a asp-action="Details" asp-route-id="@item.Id" class="text-left">@Html.DisplayFor(modelItem => item.Name)</a></h5>


                            <div class="row">
                                <div class="col-sm-4">
                                    <a asp-action="Details" asp-route-id="@item.Id"><img class="img-thumbnail" src="@Html.DisplayFor(modelItem => item.Img)" /></a>

                                    <a asp-controller="Items" asp-action="Filter" asp-route-F="@item.Tag1" class="rounded" style="background:#2b2ec2; color:#ffffff"> @item.Tag1 </a>,
                                    <a asp-controller="Items" asp-action="Filter" asp-route-F="@item.Tag2" class="rounded" style="background:#2b2ec2; color:#ffffff"> @item.Tag2 </a>,
                                    <a asp-controller="Items" asp-action="Filter" asp-route-F="@item.Tag3" class="rounded" style="background:#2b2ec2; color:#ffffff"> @item.Tag3 </a>

                                </div>
                                <div class="col-sm-4">
                                    <p class="text-left">@item.Description</p>
                                </div>
                                <div class="col-sm-4">
                                    <h4>@item.Price.ToString("c")</h4>
                                    <p><a class=" btn btn-outline-danger" asp-controller="ShopCart" asp-action="addToCart" asp-route-id="">Добавить в корзину</a></p>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
