@model IEnumerable<Vapor.Models.Item>

@{


    int pageCount = (ViewData["PageCount"] as int?) ?? 0;
    int currentPage = (ViewData["CurrentPage"] as int?) ?? 1;
    string sortBy = ViewData["SortBy"] as string ?? "";
    string filterBy = ViewData["FilterBy"] as string ?? "";

    ViewData["Title"] = filterBy != "" ? filterBy : "Все игры";

}
@{
    var tags = ViewData["Tags"] as List<Tag>;


    SelectList tagsSelectList = tags != null ? new SelectList(tags, "Id", "tag") : null;
}


<div class="card" style="background-color: #181A1B">

    <div class="row text-white">
        <div class="col-sm-4">
            @if (sortBy == "name")
            {<a asp-action="Index" asp-route-page="@(currentPage)" asp-route-filterBy="@filterBy" asp-route-sort-by="nameD">Название</a>}
            else
            {<a asp-action="Index" asp-route-page="@(currentPage)" asp-route-filterBy="@filterBy" asp-route-sort-by="name">Название</a>}
            @if (sortBy == "name")
            {<span>↓</span>}
            @if (sortBy == "nameD")
            {<span>↑</span>}
        </div>

        <div class="col-sm-4">
            @if (sortBy == "price")
            {
                <a class="text-center" asp-action="Index" asp-route-page="@(currentPage)" asp-route-filterBy="@filterBy" asp-route-sort-by="priceD">Цена</a>
            }
            else
            {
                <a class="text-center" asp-action="Index" asp-route-page="@(currentPage)" asp-route-filterBy="@filterBy" asp-route-sort-by="price">Цена</a>
            }
            @if (sortBy == "price")
            {<span class="text-center">↓</span>}
            @if (sortBy == "priceD")
            {<span class="text-center">↑</span>}
        </div>
    </div>

    <div class="card-body">
        @foreach (var item in Model)
        {
            if (filterBy != "" && (item.Tag1 == filterBy || item.Tag2 == filterBy || item.Tag3 == filterBy))
            {
                <tr>
                    <td>
                        <partial name="OneItem" model="item" />
                    </td>
                </tr>
            }
            if (filterBy == "")
            {
                <tr>
                    <td>
                        <partial name="OneItem" model="item" />
                    </td>
                </tr>
            }
        }
    </div>
</div>


<div>
    @if (currentPage > 1)
    {<a class="btn btn-outline-info" asp-action="Index" asp-route-page="1" asp-route-filterBy="@filterBy" asp-route-sort-by="@sortBy"> На первую </a>}
    @if (currentPage > 1)
    {<a class="btn btn-outline-info" asp-action="Index" asp-route-page="@(currentPage - 1)" asp-route-filterBy="@filterBy" asp-route-sort-by="@sortBy"> 🠔 </a>}

    Страница @currentPage из @pageCount

    @if (currentPage < pageCount)
    {<a class="btn btn-outline-info" asp-action="Index" asp-route-page="@(currentPage + 1)" asp-route-filterBy="@filterBy" asp-route-sort-by="@sortBy"> ➞ </a>}
    @if (currentPage < pageCount)
    {<a class="btn btn-outline-info text-white" asp-action="Index" asp-route-page="@pageCount" asp-route-filterBy="@filterBy" asp-route-sort-by="@sortBy"> На последнюю </a>}
</div>
