@model Item
@using Vapor.Data
@{
    var shopcart = ViewBag.SCart as List<Item>;
    var wishlist = ViewBag.Wlist as List<Item>;

}
@inject StoreContext _context
<div class="card text-white" style="background-color: #2C2F31">
    <h5 class="card-header"><a asp-controller="Items" asp-action="Details" asp-route-id="@Model.Id" class="text-left">@Html.DisplayFor(modelItem => Model.Name)</a></h5>


    <div class="row card-body">
        <div class="col-sm-4" >
            <a asp-controller="Items" asp-action="Details" asp-route-id="@Model.Id"><img class="img-thumbnail" style="background-color: #181A1B;" src="@Html.DisplayFor(modelItem => Model.Img)" /><br></a>
            <a asp-controller="Items" asp-route-filterBy="@Model.Tag1" class="rounded" style="background: #008aff; color: white; ">&nbsp @Model.Tag1 &nbsp<br></a>
            <a asp-controller="Items" asp-route-filterBy="@Model.Tag2" class="rounded" style="background: #008aff; color: white; ">&nbsp @Model.Tag2 &nbsp<br></a>
            <a asp-controller="Items" asp-route-filterBy="@Model.Tag3" class="rounded" style="background: #008aff; color: white; ">&nbsp @Model.Tag3 &nbsp<br></a>
        </div>
        <div class="col-sm-4 ">
            <p class="text-left ">@Model.Description</p>
        </div>
        <div class="col-sm-4">
            <h4>@Model.Price.ToString("c")</h4>
            @if (shopcart==null || Model.Id != shopcart.FirstOrDefault(m => m.Id == Model.Id)?.Id)
            {
                <p><a class=" btn btn-outline-danger" asp-controller="Items" asp-action="ToCart" asp-route-Id="@Model">Добавить в корзину</a></p>
            }
            else
            {
                <p><a class=" btn btn-outline-danger" asp-controller="Items" asp-action="ShopCart" asp-route-Id="@Model">Перейти к корзине</a></p>
            }
            @if (wishlist == null || Model.Id != wishlist.FirstOrDefault(m => m.Id == Model.Id)?.Id)
            {
                <p><a class=" btn btn-outline-info" asp-controller="Items" asp-action="ToWlist" asp-route-Id="@Model">Добавить в желаемое</a></p>
            }
            else
            {
                <p><a class=" btn btn-outline-info" asp-controller="Items" asp-action="Wishlist" asp-route-Id="@Model">Перейти в желаемое</a></p>
            }
        </div>
    </div>
</div>